[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
pandas = "*"
jupyter = "*"
jupytext = "*"
tensorflow = "==1.15.0"
keras = "*"
pillow = "*"
pydot = "*"
sklearn = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
